# Configuration file

"general block/item config" {
    # The amount of exhaustion using a bellows gives the player. [range: 0.0 ~ 20.0, default: 0.1]
    S:"Bellows Exhaustion"=0.1

    # Enable the advanced leather tanning process. This entails needing some way to transfer fluids. (True/False) [default: true]
    B:"Enable Advanced Leather Tanning"=true

    # Enable or Disable quenching of weapons. (True/False) [default: true]
    B:"Enable Quenching"=true

    # Enable or Disable regional quenching techniques. Ex. Should the Kabutowari use clay tempering and the longsword traditional water quenching? (True/False) [default: true]
    B:"Enable Regional Quenching"=true

    # A multiplier used for when forges are placed in the nether. [range: 0.1 ~ 20.0, default: 2.5]
    S:"Forge Nether Heating Multiplier"=2.5

    #  [range: 0.0 ~ 10.0, default: 1.0]
    S:"Forge Temperature Decrease Multiplier. Set to 0.0F to disable temperature drop."=1.0

    #  [range: 0.1 ~ 10.0, default: 1.0]
    S:"Forge Temperature Increase Multiplier."=1.0

    #  [range: 0.0 ~ 20.0, default: 0.0]
    S:"Forging Exhaustion"=0.0

    # A multiplier for how quickly hot tool heads and weapon parts will heat up in the forge. 1.0 is realistic. [range: 0.1 ~ 10.0, default: 1.0]
    S:"Tool Head Heating Multiplier"=1.0

    # Uses a larger part of the simple forge and advanced forge textures to show how hot the forge is compared to it's max heat value. In the simple forge, this uses the smoke. In the advanced forge, this uses the fiery part of the background. (True/False) [default: false]
    B:"Use Larger Texture Region to Show Temperature"=false

    # Write any block ID to register it as a valid anvil to forge weapons on. [default: [minecraft:anvil]]
    S:"Valid Anvil Blocks" <
        minecraft:anvil
     >

    # Write any item ID to register it as a valid forge hammer to open the Anvil Forging GUI with. [default: [advancedlootableweapons:stone_forge_hammer], [advancedlootableweapons:iron_forge_hammer], [advancedlootableweapons:kobold_forge_hammer], [advancedlootableweapons:copper_forge_hammer], [advancedlootableweapons:silver_forge_hammer], [advancedlootableweapons:bronze_forge_hammer], [advancedlootableweapons:platinum_forge_hammer], [advancedlootableweapons:steel_forge_hammer], [advancedlootableweapons:shadow_platinum_forge_hammer], [advancedlootableweapons:frost_steel_forge_hammer], [advancedlootableweapons:obsidian_forge_hammer], [advancedlootableweapons:crystallite_forge_hammer], [advancedlootableweapons:dusksteel_forge_hammer]]
    S:"Valid Hammer Items" <
        advancedlootableweapons:stone_forge_hammer
        advancedlootableweapons:iron_forge_hammer
        advancedlootableweapons:kobold_forge_hammer
        advancedlootableweapons:copper_forge_hammer
        advancedlootableweapons:silver_forge_hammer
        advancedlootableweapons:bronze_forge_hammer
        advancedlootableweapons:platinum_forge_hammer
        advancedlootableweapons:steel_forge_hammer
        advancedlootableweapons:shadow_platinum_forge_hammer
        advancedlootableweapons:frost_steel_forge_hammer
        advancedlootableweapons:obsidian_forge_hammer
        advancedlootableweapons:crystallite_forge_hammer
        advancedlootableweapons:dusksteel_forge_hammer
     >
}


